body{
    background-color: rgb(1, 1, 14);
}
h1{
    text-align: center;
    color: yellow;
    text-decoration: underline;
    background-color: black;
    margin: 20px 50px;
}
p{
    margin: 20px 50px;
    background-color: #bbbbbb;
    padding: 10px 20px;
}